# Environment
NODE_ENV="node-environment"

# Database config 
DATABASE_URL="your-database-url"

# Session info
SESSION_COOKIE_NAME="session-cookie-name"
SESSION_COOKIE_SECRET="session-cookie-secret"
SESSION_MAX_AGE="session-max-age"
SESSION_ABSOLUTE_MAX_AGE="session-absolute-max-age"