# Environment
NODE_ENV="node-environment"

# Database config 
DATABASE_URL="your-database-url"

# JWT token
ACCESS_TOKEN_SECRET="access-token-secret-key"
ACCESS_TOKEN_EXPIRY="15m"

REFRESH_TOKEN_SECRET="secret"
REFRESH_TOKEN_EXPIRY="7d"